*ros1_ws/build/*
*ros1_ws/install/*
*ros1_ws/log/*
*ros2_ws/build/*
*ros2_ws/install/*
*ros2_ws/log/*
*bridge_ws/build/*
*bridge_ws/install/*
*bridge_ws/log/*
*log/
*build/
*install/
/docker-compose-gui.yml
.vscode/c_cpp_properties.json
docker-compose-gui.yml
ros2_ws/src/.vscode/c_cpp_properties.json
ros2_ws/src/srdfdom/*
ros2_ws/src/launch_param_builder/*
ros2_ws/src/launch_param_builder
ros2_ws/src/stretch_ros
ros2_ws/src/stretch_ros/*
ros2_ws/src/stretch_moveit_plugins
ros2_ws/src/stretch_moveit_plugins/*
.vscode/settings.json
**/__pycache__/
ros2_ws/moveit_debug_report.md
