*ros1_ws/build/*
*ros1_ws/install/*
*ros1_ws/log/*
*ros2_ws/build/*
*ros2_ws/install/*
*ros2_ws/log/*
*bridge_ws/build/*
*bridge_ws/install/*
*bridge_ws/log/*
*log/
*build/
*install/
/docker-compose-gui.yml
.vscode/c_cpp_properties.json
docker-compose-gui.yml
ros2_ws/src/.vscode/c_cpp_properties.json
ros2_ws/src/srdfdom/*
ros2_ws/src/launch_param_builder/*
ros2_ws/src/launch_param_builder
ros2_ws/src/stretch_ros
ros2_ws/src/stretch_ros/*
ros2_ws/src/stretch_moveit_plugins
ros2_ws/src/stretch_moveit_plugins/*
.vscode/settings.json
ros2_ws/src/geometric_shapes/*
ros2_ws/src/moveit_visual_tools/*
ros2_ws/src/moveit2_tutorials/*
ros2_ws/src/realsense-ros/*
ros2_ws/src/realtime_tools/*
ros2_ws/src/ros2_control/*
ros2_ws/src/ros2_control_cmake/*
ros2_ws/src/ros2_controllers/*
ros2_ws/src/rosparam_shortcuts/*
