# MoveIt uses this configuration for controller management

moveit_controller_manager: moveit_simple_controller_manager/MoveItSimpleControllerManager

moveit_simple_controller_manager:
  controller_names:
    - ur_right_joint_group_vel_controller
    - joint_state_broadcaster

  joint_state_broadcaster:
    type: joint_state_broadcaster/JointStateBroadcaster
    joints:
        - ur_right_shoulder_pan_joint
        - ur_right_shoulder_lift_joint
        - ur_right_elbow_joint
        - ur_right_wrist_1_joint
        - ur_right_wrist_2_joint
        - ur_right_wrist_3_joint

  ur_right_joint_group_vel_controller:
    type: velocity_controllers/JointGroupVelocityController
    joints:
      - ur_right_shoulder_pan_joint
      - ur_right_shoulder_lift_joint
      - ur_right_elbow_joint
      - ur_right_wrist_1_joint
      - ur_right_wrist_2_joint
      - ur_right_wrist_3_joint