# MoveIt uses this configuration for controller management

moveit_controller_manager: moveit_simple_controller_manager/MoveItSimpleControllerManager

controller_names:
  - srm_l_ur_controller
  - multi_dof_joint_trajectory_action

srm_l_ur_controller:
  action_ns: follow_joint_trajectory
  type: FollowJointTrajectory
  joints:
    - ur_left_shoulder_pan_joint
    - ur_left_shoulder_lift_joint
    - ur_left_elbow_joint
    - ur_left_wrist_1_joint
    - ur_left_wrist_2_joint
    - ur_left_wrist_3_joint
    
multi_dof_joint_trajectory_action:
  type: MultiDofFollowJointTrajectory
  action_ns: ""
  joints:
    - position