# This config file is used by ros2_control
controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    srm_l_ur_controller:
      type: joint_trajectory_controller/JointTrajectoryController


    srm_l_base_controller:
      type: joint_trajectory_controller/JointTrajectoryController


    srm_l_controller:
      type: joint_trajectory_controller/JointTrajectoryController


    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

srm_l_ur_controller:
  ros__parameters:
    joints:
      - ur_left_shoulder_pan_joint
      - ur_left_shoulder_lift_joint
      - ur_left_elbow_joint
      - ur_left_wrist_1_joint
      - ur_left_wrist_2_joint
      - ur_left_wrist_3_joint
    command_interfaces:
      - position
      - velocity
    state_interfaces:
      - position
      - velocity
srm_l_base_controller:
  ros__parameters:
    joints:
      - position
    command_interfaces:
      - position
      - velocity
    state_interfaces:
      - position
      - velocity
srm_l_controller:
  ros__parameters:
    joints:
      - position
      - ur_left_shoulder_pan_joint
      - ur_left_shoulder_lift_joint
      - ur_left_elbow_joint
      - ur_left_wrist_1_joint
      - ur_left_wrist_2_joint
      - ur_left_wrist_3_joint
    command_interfaces:
      - position
      - velocity
    state_interfaces:
      - position
      - velocity